/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  /* *** viewport widths *** */
  --mobile-w: 375px;
  --desktop-w: 1440px;

  /* *** primary colors *** */

  --bright-blue: hsl(220, 98%, 61%);
  --bg-gradient: linear-gradient(90deg hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* *** neutral colors *** */
  /* light theme */

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 25%);

  /* *** neutral colors *** */
  /* dark theme */

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desat-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --vv-dark-grayish-blue: hsl(237, 14%, 26%);

  /* *** typography *** */

  --body-copy-size: 18px;

  /* *** font family *** */

  /* --font-fam: 'Josefin Sans', sans-serif;
  --weight-med: 400;
  --weight-b: 700; */
  --font-fam: Roboto, sans-serif;
  --weight-med: 300;
  --weight-b: 400;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

.line-through {
  text-decoration: line-through;
  color: rgb(67, 67, 67);
}

p {
  font-size: var(--body-copy-size);
}

.main-wrapper {
  position: relative;
  z-index: 1;
  box-shadow: -1px 1px 20px -2px var(--dark-blue);
  /* background-color: var(--very-dark-desat-blue); */
  border-radius: 8px;
}

.main {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 120px;
}

.nav-wrapper h1 {
  color: white;
  text-transform: uppercase;
  font-family: var(--font-fam);
  font-weight: var(--weight-b);
  letter-spacing: 0.6em;
  font-size: 3em;
}

.bg-img {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.form-wrapper {
  background-color: var(--very-dark-desat-blue);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 40px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  background-color: var(--vv-dark-desat-blue);
  font-family: var(--font-fam);
  font-weight: var(--weight-b);
  color: #6c7296;
  font-size: var(--body-copy-size);
  border-bottom: 2px solid #2b2e43;
}

.icon-btn {
  background-color: transparent;
  border: none;
}

.drag-container {
  width: 24px;
  height: 24px;
}

.drag-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.todo .text-container {
  width: 80%;
}

.todo h4 {
  text-transform: capitalize;
  font-size: 18px;
  padding-left: 8px;
  font-weight: var(--weight-med);
  line-height: 1.6;
}

.todo .trash-icon {
  width: 24px;
  color: rgb(168, 20, 20);
}

.todo .edit-icon {
  width: 24px;
  color: rgb(110, 255, 110);
  padding-right: 12px;
}


.content {
  position: relative;
  z-index: 1;
  background-color: var(--very-dark-desat-blue);
  border-radius: 8px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.content::-webkit-scrollbar {
  display: none;
}

.form-wrapper input[type='text'] {
  width: 100%;
  min-height: 46px;
  line-height: 46px;
  padding: 0px 16px;
  border: none;
  box-sizing: border-box;
  background-color: var(--very-dark-desat-blue);
  color: var(--very-light-gray);
  font-size: var(--body-copy-size);
  font-family: var(--font-fam);
  outline: transparent;
}

.bottom-nav {
  font-family: var(--font-fam);
  padding: 8px 24px;
  display: flex;
  align-items: center;
  background-color: var(--very-dark-desat-blue);
  justify-content: space-between;
  color: var(--dark-grayish-blue);
  font-size: var(--body-copy-size);
  position: sticky;
  bottom: 0px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.084);
}

.bottom-nav h4 {
  font-size: var(--body-copy-size);
}

.bottom-nav ul {
  display: flex;
}

.bottom-nav li {
  list-style: none;
  font-size: var(--body-copy-size);
  padding: 0 8px;
}

.bottom-nav li:hover {
  color: var(--light-grayish-blue);
}

.bottom-nav li:first-child {
  color: var(--bright-blue);
}

.bottom-nav button {
  background-color: transparent;
  border: none;
  color: var(--dark-grayish-blue);
  font-family: var(--font-fam);
  font-size: var(--body-copy-size);
  transition: all 80ms ease-in-out;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
}

.bottom-nav button:hover {
  color: var(--very-light-grayish-blue);
}